{% extends 'realty_management/base.html' %}
{% block title %} Map {% endblock title %}
{% block content %}

<iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBU8AHGoKQ9XfcO1QmfrdQjmEWKoiEZAuU&amp;origin=JSM+Champaign+IL&amp;destination=505+E+Healey+St+Champaign+IL&amp;optimizeWaypoints=true&amp;waypoints=302+S+Busey+Ave,Urbana,IL|604+E+White+St,Champaign,IL|1010+W+Main+St,Urbana,IL|304+E+Daniel+St,Champaign,IL&amp;mode=driving">
</iframe>

{% endblock %}